/*main styles*/

.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.about {
    background-color: white;
}

.profession {
    margin-top: 50px;
    padding: 50px;
}

.wq {
    margin-top: 50px;
    padding: 50px;
}

.project {
    background-color: white;
    margin-top: 50px;
    padding: 50px;
}

.work {
    background-color: white;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-right: 20px;
}

/*sidebar*/
.sidebar {
    background-color: rgb(193, 204, 219);
    padding: 10px;
    background-size: 300px 100px;
    padding-top: 40px;
    width: 420px;
}

.sidebar-title {
    color: #cf1414;

}

.contact {
    margin-left: 40px;
}

/*main content*/
.main_comtent {
    background-color: rgb(183, 189, 193);
    padding: 10px;
}

.imag1 {
    padding: 50px;
    width: 420px;
}

.imag2 {
    padding: 50px;
    width: 420px;
}

.contact-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.contact-link {
    outline-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1f1d1d;

}

.my_name {
    margin-top: 50px;
    padding: 50px;
}
